body {
  font: normal 13px/20px Arial, Helvetica, sans-serif;
  /* word-wrap: break-word; */
  color: #eee;
  background: #353535;
}

.timer {
  display: flex;
  justify-content: space-around;

  width: 465px;
  height: 112px;
  text-align: center;
  background: #222;
  background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
  background-image: -moz-linear-gradient(top, #222, #333, #333, #222);
  background-image: -ms-linear-gradient(top, #222, #333, #333, #222);
  background-image: -o-linear-gradient(top, #222, #333, #333, #222);
  border: 1px solid #111;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  margin: auto;
  padding: 24px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 5%;
  font-size: 30px;
}

.label {
  margin-top: 15px;
  font-size: 20px;
}
